/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;

.clickable {
	@apply hover:bg-beige;
}

.dark-mode {
	@apply bg-warmGray-100 text-warmGray-900 dark:bg-gray-900 dark:text-gray-100;
}

.no-apple-style {
	/* border: none; */
	/* border-style: none; */
	border-radius: 0;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.vertical {
	writing-mode: vertical-lr;
}

.sticky-top {
	position: sticky;
	top: 1rem;
}

.expand {
	position: relative;
	text-decoration: none;
	display: inline-block;
}

.expand:after {
	display: block;
	content: '';
	border-bottom: solid 1.5px currentColor;
	transform: scaleX(0);
	transition: transform 200ms ease-in-out;
	transform-origin: 100% 50%;
}
.expand:hover:after {
	transform: scaleX(1);
	transform-origin: 0 50%;
}

@tailwind utilities;

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-Demi.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-Book.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-DemiItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mier B';
	src: url('/fonts/MierB-BookItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
